@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.p-space {
  margin-left: 2rem;
  margin-right: 2rem;
}

.p-space p {
  margin-top: 1rem;
}

.p-space h4 {
  margin-top: 2rem;
}

.bg-img {
  background-image: url(/src/assets/home.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.bg-vector {
  background-image: url(/src/assets/Services_vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vector-2 {
  background-image: url(/src/assets/Services_vector_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-vector-3 {
  background-image: url(/src/assets/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .bg-vector-1 {
    background-image: url(/src/assets/Services_vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
